body, html {
     height: 100%;
     margin: 0;
     background-color: #F9ED69;
}

body > *:not(#faixa){
}
 @font-face {
     font-family: 'ddc_hardware_regularregular';
     src: url('./fonts/ddchardware-regular-webfont.woff2') format('woff2'), url('./fonts/ddchardware-regular-webfont.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

 h1, h2 {
     font-family: 'ddc_hardware_regularregular', Arial, sans-serif;
     font-weight:normal;
     font-style:normal;
     font-size: 100px;
     text-align: center;
     margin: 0;
     color: #B83B5E;
     line-height: 80px;
}

 h2 {
     font-size: 50px;
}
 a,p {
     font-family: 'Roboto', Arial, sans-serif;
     font-weight:normal;
     font-style:normal;
     font-size: 20px;
     text-align: left;
     margin-top: 10px !important;
     margin-bottom: 10px !important;
     color: #6A2C70;
}
 .modal {
     display: none;
     position: fixed;
     z-index: 1;
     padding-top: 100px;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0,0,0);
     background-color: rgba(94,48,109,0.9);
}
 .modal-content {
     margin: auto;
     display: block;
     width: 80%;
     max-width: 1000px;
}
 #quarto1, #quarto21, #quarto22, #banheiro, #sala, #cozinha, #cozinha1, #servico {
     display: block;
     font-size: 3vw !important;
     position: absolute;
     color: #F08A5D;
}
 .modal-content, #caption {
     -webkit-animation-name: zoom;
     -webkit-animation-duration: 0.3s;
     animation-name: zoom;
     animation-duration: 0.3s;
}
 @-webkit-keyframes zoom {
     from {
         -webkit-transform:scale(0) 
    }
     to {
         -webkit-transform:scale(1) 
    }
}
 @keyframes zoom {
     from {
         transform:scale(0) 
    }
     to {
         transform:scale(1) 
    }
}
 .close {
     position: absolute;
     top: 15px;
     right: 35px;
     color: #f1f1f1;
     font-size: 40px;
     font-weight: bold;
     transition: 0.3s;
}
 .card {
     max-width: 1140px;
     margin: 0 auto;
}
 .close:hover, .close:focus {
     color: #bbb;
     text-decoration: none;
     cursor: pointer;
}

 .coluna50 {
    flex: 50%;
    line-height: 50px;
 }


 .coluna {
    flex-direction: row;
 }

 @media screen and (max-width: 700px) {
     a,p {
         font-size: 18px;
         padding: 2%;
         letter-spacing: 1px;
    }
     h1 {
         font-size: 60px;
    }
    #faixaimg{
        width: 60%;
    }

 #quarto1, #quarto21, #quarto22, #banheiro, #sala, #cozinha, #cozinha1, #servico {
        font-size: 30px !important;
}

    #quarto1 {
        top: 84% !important;
        left: 83% !important;
    }

    #quarto21 {
         top: 64% !important;
        left: 83% !important;
    }

    #quarto22 {
        top: 64% !important;
        left: 20% !important;
    }

    #banheiro {
        top: 56% !important;
        left: 20% !important;
    }

    #sala {
        top: 38% !important;
        left: 13% !important;
    }

    #cozinha {
        top: 34% !important;
        left: 40% !important;
    }

    #cozinha1 {
        top: 36% !important;
        left: 60% !important;
    }

    #servico {
        top: 21% !important;
        left: 67% !important;
    }

     .modal-content {
         width: 100%;
    }

    .coluna50 {
        flex: 100%;
        line-height: 50px;
    }

     .coluna {
    flex-direction: column;
 }

 #map {
    height: 200px;
 }

}
