body {
    background-image: linear-gradient(to bottom, #45b3e0, #87ceeb, #c9e9f6);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0;
    height: 100vh;
}

.container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#total-money {
    font-size: 3rem !important;
    line-height: 3rem !important;
}

#accounts {
    transition: 2s cubic-bezier(.17, .84, .44, 1);
    max-height: 0;
    overflow: hidden;
}

@media only screen and (min-device-width: 35px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    #total-money {
        font-size: 7rem !important;
    }
    .material-icons {
        line-height: 7rem !important;
        font-size: 7rem !important;
    }
    #accounts {
        font-size: 3rem !important;
    }
}