body {
  background-color: #f4f1e4;
  color: #726d54;
}

.content-wrap {
  width: 100%;
  height: 100vh;
}

.main-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1rem solid white;
}

.main-wrap h1 {
  font-size: 2rem;
}

.header-banner {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  text-align: right;
}

.header-text {

  background-color: #726d54cc;
}

.header-text h1 {
  margin: 0;
  padding: 1rem;
}

header img {
  width: 200px;
}

/* .bounce-arrow {
  color: white;
  margin-left: auto;
}

.bounce-arrow i {
  position: absolute;
  bottom: 3%;
  font-size: 3rem;
  animation: bounce 2s infinite;
} */

header {
  text-align: center;

}

#title-text {
  font-weight: 900;
}

#lower-title-text {
  font-size: 4rem;
  font-style: italic;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: white;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}


.content-grid {
  position: relative;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: auto 480px 480px auto;
  grid-template-rows: auto auto auto;
}

#intro {
  background-color: #bc2e23;
}

.logo-banner {
  background-color: white;
grid-column: 2/3;
grid-row: 2/3;
text-align: center;
vertical-align: middle;
height: 100%;
}

.logo-banner img {
  height: 100%;
  width: 300px;
  vertical-align: middle;
}

.intro-text {
  grid-column: 3/4;
  display: flex;
  grid-row: 2/3;
  color: white;
  text-align: right;
  padding: 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 2rem;
  align-items: center;
}



.intro-text p {
  margin: 0;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2rem);
    }
}
