h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
}

/* .jumbotron {
  padding: 0;
} */
.header-banner {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  text-align: right;
}

#title-text {
  font-weight: 900;
}

#lower-title-text {
  font-size: 4rem;
  font-style: italic;
}

.header-banner img {
  width: 200px;
}

.header-text {
  background-color: #726d54cc;
}

.header-text h1 {
  margin: 0;
  padding: 1rem;
  color: white !important;
}

#home-banner {
  height: 100vh;
  background-image: url("../images/header-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.row>h1 {
  padding: 15px;
}

#quem-somos, #valores, #atendimentos, #cursos, #refeicoes-prontas, #contato {
  border-radius: 0 !important;
  /* padding: 30px !important; */
  margin-bottom: 0;
}

#quem-somos, #atendimentos, #refeicoes-prontas {
  color: white !important;
  background-color: #bc2e23;
  /* margin: 0 !important; */
}

#valores, #cursos, #contato {
  /* padding: 30px 0 !important; */
  color: #726d54 !important;
  background-color: #f4f1e4;
}

#cursos .card {
  height: 90%;
  border: #bc2e23 solid 1px;
}

.card {
  color: #726d54 !important;
  margin: 15px 0;
  background-color: #f4f1e4 !important;
}

.card-body>img {
  border-radius: 3px;
  float: left;
  width: 20%;
  margin-right: 15px;
}

#valores .col-lg-8:nth-child(2n) {
  margin: 0;
}

#aula-ocorrendo {
  background-image: url(../images/aula.jpg);
  height: 700px;

  background-size: cover;
  background-repeat: no-repeat;
}

#refeicoes-img {
  border: 1px solid white;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80");
  background-position: center;
  background-size: cover;
  border-radius: 1px;
}

#map {
  height: 300px;
}

#contato a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width:960px) {
  .card-body>img {
    border-radius: 3px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
