h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.1rem !important;
}

.bgimg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#home-banner {
  display: flex;
  height: 66vh;
  background-image: url("../images/capa.jpg");
}

#home-logo {
  display: flex;
  height: 34vh;
  background-color: #C14339;
}

#home-banner .jumbotron, #home-logo .jumbotron {
  background-color: transparent !important;
  margin: 0 auto;
}

#home-banner h1 {
  color: white !important;
  font-size: 1.4rem;
  font-weight: normal;
}

#home-logo>.jumbotron>img {
  width: 300px !important;
}

.row>h1 {
  padding: 15px;
}

#quem-somos, #valores, #atendimentos, #cursos, #refeicoes-prontas, #contato, #equipe, #produtos, #adriana, #izabel {
  border-radius: 0 !important;
  /* padding: 30px !important; */
  margin-bottom: 0;
}

#atendimentos, #refeicoes-prontas, #produtos, #adriana {
  color: white !important;
  background-color: #bc2e23;
  /* margin: 0 !important; */
}

#quem-somos {

}

#quem-img img, .fitimg, #acreditamosimg img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}



#valores, #cursos, #contato, #quem-somos, #izabel {
  /* padding: 30px 0 !important; */
  color: #726d54 !important;
  background-color: #f4f1e4;
}

#produtos-title {
  display: table;
  height: 100%;
}

#produtos-title>div {
  display: table-cell;
  vertical-align: middle;
}

.imgproduto {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 3px #bc2e23 solid;
}

.imgproduto>div {
  width: 70%;
  font-size: 1.5rem;
  background-color: #bc2e23;
  position: absolute;
  font-weight: bold;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 5px;
}

.imgproduto p {
  margin: auto 0;
}

#produtocontainer {
  height: 70vh;
}

#cursos .card-img-top {
  height: 200px;
  object-fit: cover;
}

#cursos .card {
  height: 100%;
  border: #bc2e23 solid 1px;
}

.margin60 {
  margin-bottom: 30px;
}

.card {
  color: #726d54 !important;
  margin: 15px 0;
  background-color: #f4f1e4 !important;
}

.card-body>img {
  border-radius: 3px;
  float: left;
  width: 33%;
  margin-right: 15px;
}

/* #valores .col-lg-8:nth-child(2n) {
  margin: 0;
} */
#valores p {
  line-height: 2;
}

#queremosimg {
  background-image: url("../images/queremos.jpg");
}

#atendimentoimg {
  background-image: url(../images/atendimento.jpg);
}

#refeicoes-img {
  border: 1px solid white;
  height: auto;
  background-image: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80");
  background-position: center;
  background-size: cover;
  border-radius: 1px;
}

#equipe {
  color: #726d54;
  background-color: transparent !important;
}

#adrianaimg {
  background-image: url("../images/adriana.jpg");
  background-position: left !important;
}

#izabel {
  line-height: 2;
}

#izabelimg {
  background-image: url("../images/izabel.jpg");
  background-position: top center !important;
}

#map {
  height: 300px;
}

#contato a {
  color: inherit;
  text-decoration: underline;
}

@media (max-width:960px) {
  .card-body>img {
    border-radius: 3px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
  }

  .header-banner {
    right: 0;
    bottom: 0;
    width: auto;
  }

  #aula-ocorrendo {
    background-position: center;
  }

  #refeicoes-img {
    height: 300px;
  }

  #produtocontainer {
    height: auto;
  }
  .imgproduto {
    height: 100vw
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }

  /* MAKE MEDIA RESPONSIVE FOR THIS */
  #atendimentotxt {
    padding: 64px 0 64px 20px;
  }

  /* MAKE MEDIA RESPONSIVE FOR THIS */
  #quem-somos>.container>.row>.col-lg-7 {
    padding: 64px 20px 64px 0;
  }
}
